In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/everytown_massshootings.csv')
df

,Date,City,State,Latitude,Longitude,Total shot,Number killed,Number wounded,Assault weapon OR high-capacity magazine,Prohibited shooter,Killed intimate partner or family,Dangerous warning signs,Narrative,Last updated
0,5/24/22,Uvalde,TX,29.199600,-99.788100,40,22,18,Yes,No,Yes,Yes,"On May 24, 2022, 18-year-old Salvador Rolando ...",5/31/22
1,5/14/22,Buffalo,NY,42.909794,-78.853148,13,10,3,Under review,Under review,Under review,Under review,An 18-year-old used an assault rifle to open f...,2022-05-24T21:35:02.000Z
2,4/27/22,Biloxi,MS,30.390223,-88.996254,4,4,0,Under review,Under review,Under review,Under review,"A man fatally shot three people at a hotel, in...",2022-05-09T19:51:16.000Z
3,4/20/22,Duluth,MN,46.802234,-92.101901,4,4,0,Under review,Under review,Under review,Under review,"A man shot and killed his aunt, uncle, two cou...",2022-05-09T19:51:16.000Z
4,2/28/22,Sacramento,CA,38.600519,-121.419227,4,4,0,Under review,Under review,Under review,Under review,A man with a long history of domestic violence...,2022-04-04T15:52:22.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,3/15/09,Miami,FL,25.737781,-80.259580,4,4,0,Yes,No,Yes,No,"At a birthday party, a shooter fatally shot hi...",2021-06-02T14:41:58.000Z
271,3/10/09,Coffee and Geneva County,AL,31.112900,-86.045900,14,10,4,Yes,No,Yes,No,A shooter killed 10 people and injured four in...,2021-06-02T14:41:58.000Z
272,3/5/09,Cleveland,OH,41.477464,-81.686514,6,5,1,No,Yes,Yes,No,A shooter fatally shot his wife and four of he...,2021-06-02T14:41:58.000Z
273,2/14/09,Brockport,NY,43.221000,-77.943000,5,4,1,No,No,No,Yes,A shooter fatally shot a nurse in the parking ...,2021-06-02T14:41:58.000Z
274,1/27/09,Wilmington,CA,33.783263,-118.254934,6,6,0,No,No,Yes,No,A shooter fatally shot his wife and their five...,2021-06-02T14:41:58.000Z

In [3]:
df2 = df.groupby('State', as_index=False).count()
df2 = df2[['State', 'Date']]
df2 = df2.rename(columns = {'Date': 'count'})
df2 = df2.sort_values('count', ascending=False)
df2 = df2.reset_index()
df2

    index State  count
0      38    TX     31
1       4    CA     30
2       9    FL     17
3      12    IL     14
4      31    OH     13
5      42    WA     10
6       3    AZ      9
7      34    PA      8
8      13    IN      8
9      25    NC      8
10     10    GA      8
11     20    MI      7
12     43    WI      7
13     35    SC      7
14     22    MO      7
15     40    VA      6
16     14    KS      6
17     30    NY      6
18     32    OK      5
19      1    AL      5
20     37    TN      5
21     44    WV      5
22     21    MN      4
23     28    NM      4
24      5    CO      4
25     18    MD      4
26     29    NV      4
27     23    MS      4
28     27    NJ      3
29     16    LA      3
30     26    ND      2
31     15    KY      2
32      7    DC      2
33      6    CT      2
34     17    MA      2
35      2    AR      2
36     39    UT      2
37     41    VT      1
38      0    AK      1
39     36    SD      1
40     33    OR      1
41     24    MT      1
42     19    ME      1
43     11    ID      1
44      8    DE      1
45     45    WY      1

In [4]:
df.groupby('State', as_index=False).sum()

   State     Latitude    Longitude  Total shot  Number killed  Number wounded
0     AK    61.541841  -149.632264           4              4               0
1     AL   169.052453  -434.010802          35             31               4
2     AR    69.626322  -186.292079           9              9               0
3     AZ   299.179889 -1010.994751          54             40              14
4     CA  1069.958524 -3583.908523         238            162              76
5     CO   158.205940  -419.790774         105             33              72
6     CT    83.184100  -145.829600          39             35               4
7     DC    77.695980  -154.007164          25             16               9
8     DE    39.744000   -75.545000           4              4               0
9     FL   468.760202 -1378.347790         219            135              84
10    GA   269.657297  -673.866740          42             37               5
11    ID    43.478700  -111.964200           4              4               0
12    IL   582.756561 -1232.928147          80             62              18
13    IN   317.249055  -687.907978          45             38               7
14    KS   233.657886  -571.146304          30             25               5
15    KY    75.455800  -166.267500           9              9               0
16    LA    92.696161  -273.118991          14             14               0
17    MA    84.465500  -141.995200           9              8               1
18    MD   156.691139  -307.322366          20             17               3
19    ME    43.498100   -70.449000           4              4               0
20    MI   298.866235  -589.125166          44             33              11
21    MN   181.849505  -370.886875          20             18               2
22    MO   266.611207  -639.593936          36             32               4
23    MS   127.017023  -360.185754          20             20               0
24    MT    46.399100  -114.158249           4              4               0
25    NC   286.748899  -633.302947          43             39               4
26    ND    96.215000  -203.789200           8              8               0
27    NJ   121.922586  -222.248022          18             12               6
28    NM   139.820200  -423.963700          21             19               2
29    NV   151.137300  -469.380900         491             73             418
30    NY   254.946694  -459.598248          53             39              14
31    OH   525.395924 -1073.428466          86             65              21
32    OK   179.005094  -482.221709          24             22               2
33    OR    43.262800  -123.280000          18              9               9
34    PA   321.742600  -616.808700          50             41               9
35    SC   238.060129  -570.513171          37             35               2
36    SD    43.315300   -98.604500           5              5               0
37    TN   178.145442  -428.460534          27             21               6
38    TX   964.731133 -3004.877128         394            223             171
39    UT    80.708913  -224.095782           9              8               1
40    VA   224.637900  -462.298700          43             37               6
41    VT    44.198400   -72.535100           4              4               0
42    WA   474.393574 -1222.838413          48             44               4
43    WI   304.986107  -622.232662          40             35               5
44    WV   195.025220  -402.781154          22             21               1
45    WY    42.054300  -104.953200           5              4               1

In [5]:
df.groupby('State', as_index=False).sum().sort_values('Total shot', ascending=False)

   State     Latitude    Longitude  Total shot  Number killed  Number wounded
29    NV   151.137300  -469.380900         491             73             418
38    TX   964.731133 -3004.877128         394            223             171
4     CA  1069.958524 -3583.908523         238            162              76
9     FL   468.760202 -1378.347790         219            135              84
5     CO   158.205940  -419.790774         105             33              72
31    OH   525.395924 -1073.428466          86             65              21
12    IL   582.756561 -1232.928147          80             62              18
3     AZ   299.179889 -1010.994751          54             40              14
30    NY   254.946694  -459.598248          53             39              14
34    PA   321.742600  -616.808700          50             41               9
42    WA   474.393574 -1222.838413          48             44               4
13    IN   317.249055  -687.907978          45             38               7
20    MI   298.866235  -589.125166          44             33              11
40    VA   224.637900  -462.298700          43             37               6
25    NC   286.748899  -633.302947          43             39               4
10    GA   269.657297  -673.866740          42             37               5
43    WI   304.986107  -622.232662          40             35               5
6     CT    83.184100  -145.829600          39             35               4
35    SC   238.060129  -570.513171          37             35               2
22    MO   266.611207  -639.593936          36             32               4
1     AL   169.052453  -434.010802          35             31               4
14    KS   233.657886  -571.146304          30             25               5
37    TN   178.145442  -428.460534          27             21               6
7     DC    77.695980  -154.007164          25             16               9
32    OK   179.005094  -482.221709          24             22               2
44    WV   195.025220  -402.781154          22             21               1
28    NM   139.820200  -423.963700          21             19               2
21    MN   181.849505  -370.886875          20             18               2
18    MD   156.691139  -307.322366          20             17               3
23    MS   127.017023  -360.185754          20             20               0
27    NJ   121.922586  -222.248022          18             12               6
33    OR    43.262800  -123.280000          18              9               9
16    LA    92.696161  -273.118991          14             14               0
17    MA    84.465500  -141.995200           9              8               1
15    KY    75.455800  -166.267500           9              9               0
2     AR    69.626322  -186.292079           9              9               0
39    UT    80.708913  -224.095782           9              8               1
26    ND    96.215000  -203.789200           8              8               0
45    WY    42.054300  -104.953200           5              4               1
36    SD    43.315300   -98.604500           5              5               0
24    MT    46.399100  -114.158249           4              4               0
41    VT    44.198400   -72.535100           4              4               0
19    ME    43.498100   -70.449000           4              4               0
11    ID    43.478700  -111.964200           4              4               0
8     DE    39.744000   -75.545000           4              4               0
0     AK    61.541841  -149.632264           4              4               0

In [6]:
df3 = df.groupby('State', as_index=False).sum()
df3 = df3[['State', 'Total shot', 'Number killed', 'Number wounded']]
df3 = df3.rename(columns = {'Total shot':'total_shot', 'Number killed':'total_killed', 'Number wounded': 'total_wounded'})
df2 = pd.merge(df2, df3, on='State', how='inner')
df2.drop('index', axis=1, inplace=True)

In [7]:
abbrevs = pd.read_csv('data/state_abbrevs.csv')

not_in = []

for i in abbrevs['state']:
    if i not in list(df2['State']):
        not_in.append(i)
        
notin = abbrevs.loc[abbrevs['state'].isin(not_in)]
notin = notin.rename(columns = {'state': 'State'})
notin.drop('state_name', axis=1, inplace=True)
notin['count'] = 0
notin['total_shot'] = 0
notin['total_killed'] = 0
notin['total_wounded'] = 0

df2 = pd.concat([df2, notin], ignore_index=True)

df2

   State  count  total_shot  total_killed  total_wounded
0     TX     31         394           223            171
1     CA     30         238           162             76
2     FL     17         219           135             84
3     IL     14          80            62             18
4     OH     13          86            65             21
5     WA     10          48            44              4
6     AZ      9          54            40             14
7     PA      8          50            41              9
8     IN      8          45            38              7
9     NC      8          43            39              4
10    GA      8          42            37              5
11    MI      7          44            33             11
12    WI      7          40            35              5
13    SC      7          37            35              2
14    MO      7          36            32              4
15    VA      6          43            37              6
16    KS      6          30            25              5
17    NY      6          53            39             14
18    OK      5          24            22              2
19    AL      5          35            31              4
20    TN      5          27            21              6
21    WV      5          22            21              1
22    MN      4          20            18              2
23    NM      4          21            19              2
24    CO      4         105            33             72
25    MD      4          20            17              3
26    NV      4         491            73            418
27    MS      4          20            20              0
28    NJ      3          18            12              6
29    LA      3          14            14              0
30    ND      2           8             8              0
31    KY      2           9             9              0
32    DC      2          25            16              9
33    CT      2          39            35              4
34    MA      2           9             8              1
35    AR      2           9             9              0
36    UT      2           9             8              1
37    VT      1           4             4              0
38    AK      1           4             4              0
39    SD      1           5             5              0
40    OR      1          18             9              9
41    MT      1           4             4              0
42    ME      1           4             4              0
43    ID      1           4             4              0
44    DE      1           4             4              0
45    WY      1           5             4              1
46    CZ      0           0             0              0
47    GU      0           0             0              0
48    HI      0           0             0              0
49    IA      0           0             0              0
50    NE      0           0             0              0
51    NH      0           0             0              0
52    PR      0           0             0              0
53    RI      0           0             0              0
54    VI      0           0             0              0
55    AS      0           0             0              0
56    MP      0           0             0              0

In [8]:
df2 = df2.sort_values('total_killed', ascending=False).reset_index()
df2.drop('index', axis=1, inplace=True)
df2

   State  count  total_shot  total_killed  total_wounded
0     TX     31         394           223            171
1     CA     30         238           162             76
2     FL     17         219           135             84
3     NV      4         491            73            418
4     OH     13          86            65             21
5     IL     14          80            62             18
6     WA     10          48            44              4
7     PA      8          50            41              9
8     AZ      9          54            40             14
9     NY      6          53            39             14
10    NC      8          43            39              4
11    IN      8          45            38              7
12    VA      6          43            37              6
13    GA      8          42            37              5
14    SC      7          37            35              2
15    WI      7          40            35              5
16    CT      2          39            35              4
17    CO      4         105            33             72
18    MI      7          44            33             11
19    MO      7          36            32              4
20    AL      5          35            31              4
21    KS      6          30            25              5
22    OK      5          24            22              2
23    TN      5          27            21              6
24    WV      5          22            21              1
25    MS      4          20            20              0
26    NM      4          21            19              2
27    MN      4          20            18              2
28    MD      4          20            17              3
29    DC      2          25            16              9
30    LA      3          14            14              0
31    NJ      3          18            12              6
32    KY      2           9             9              0
33    AR      2           9             9              0
34    OR      1          18             9              9
35    MA      2           9             8              1
36    UT      2           9             8              1
37    ND      2           8             8              0
38    SD      1           5             5              0
39    ME      1           4             4              0
40    WY      1           5             4              1
41    ID      1           4             4              0
42    DE      1           4             4              0
43    MT      1           4             4              0
44    AK      1           4             4              0
45    VT      1           4             4              0
46    CZ      0           0             0              0
47    GU      0           0             0              0
48    HI      0           0             0              0
49    IA      0           0             0              0
50    NE      0           0             0              0
51    NH      0           0             0              0
52    PR      0           0             0              0
53    RI      0           0             0              0
54    VI      0           0             0              0
55    AS      0           0             0              0
56    MP      0           0             0              0

In [9]:
df2.to_csv('data/everytown_massshootings_sum.csv', index=False)